* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

$color-body: #5e5d5d;
$color-main: #FFFEF8;
$color-title: #000000;
$color-text: #454545;
$color-primary-line: #DADADA;
$color-line: #49816c;

body {
    background-color: $color-body;
}

.player {
    width: 540px;
    height: 169px;
    margin: auto;
    margin-top: 10%;
    background: $color-main;
    border-radius: 14.7px;
    display: flex;

    .img {
        background-image: url(./png/unholy.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 169px;
        height: 169px;
        cursor: pointer;
    }

    .wrapper {
        margin-left: 15px;

        .title-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-left: 10px;

            #title {
                font-weight: 700;
                font-size: 18px;
                color: $color-title;
            }

            .icon {
                background-image: url(./assets/Vector.svg);
                background-repeat: no-repeat;
                width: 21px;
                height: 21px;
            }
        }

        #singer {
            font-weight: 400;
            font-size: 14px;
            color: $color-text;
            margin-top: 5px;
            margin-left: 10px;
        }

        .line-time {
            margin-top: 20px;
            margin-left: 10px;
            display: flex;

            .line-flex {
                width: 257px;
                height: 3px;
                background: $color-primary-line;
                margin-top: 5px;
                cursor: pointer;
            }

            .line {
                width: 0;
                height: 3px;
                background: $color-line;
            }

            .time {
                font-weight: 400;
                font-size: 12px;
                color: $color-text;
                margin-left: 15px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-left: 10px;

            .repeat-btn {
                background-image: url(./assets/repeatBtn.svg);
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
                margin-top: 5px;
            }

            .back {
                background-image: url(./assets/prevBtn.svg);
                background-repeat: no-repeat;
                width: 35.5px;
                height: 34.3px;
                cursor: pointer;
            }

            .play {
                background-image: url(./assets/playBtn.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 38px;
                height: 25px;
                cursor: pointer;
            }

            .next {
                background-image: url(./assets/nextBtn.svg);
                background-repeat: no-repeat;
                width: 35.5px;
                height: 34.3px;
                cursor: pointer;
            }

            .like {
                background-image: url(./assets/favBtn.svg);
                background-repeat: no-repeat;
                width: 24px;
                height: 24px;
                margin-top: 5px;
            }
        }
    }
}