* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

$background-color: rgba(255, 254, 248, 1);
$slider-color: rgba(218, 218, 218, 1);

.main-wrapper {
    width: 540px;
    height: 169px;
    background-color: $background-color;
    border-radius: 14.7px;
    margin: auto;
    margin-top: 30px;
    display: flex;

    .image {
        img {
            width: 169px;
            height: 169px;
            border-radius: 15px 0 0 15px;
        }
    }

    .icon {
        background-image: url(./assets/Vector.svg);
        width: 21px;
        height: 21px;
        position: relative;
        left: 285px;
        top: -43px;
    }

    .wrapper {
        margin-left: 32px;
        margin-top: 17px;

        h1 {
            font-weight: 700;
            font-size: 18px;
        }

        h2 {
            font-weight: 400;
            font-size: 14px;
            margin-top: 5px;
        }


        .line-time {
            display: flex;

            .line-duration {
                width: 257px;
                height: 3px;
                background-color: $slider-color;
                // border: 0.5px solid $slider-color;
                margin-top: 17px;

                .line {
                background-color: $slider-color;
                    
                    height: 3px;
                    width: 0;

                }
            }

            .time {
                font-weight: 400;
                font-size: 12px;
                margin-top: 11px;
                margin-left: 16px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;


            .reverse {
                background-image: url(./assets/repeatBtn.svg);
                background-size: contain;
                height: 24px;
                width: 24px;
                cursor: pointer;
            }

            .wrapper-play {
                display: flex;
                width: 149px;
                justify-content: space-around;
                align-items: center;

                .prev {
                    background-image: url(./assets/prevBtn.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 35.5px;
                    height: 34.3px;
                    cursor: pointer;
                }

                .play {
                    background-image: url(./assets/playBtn.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 38px;
                    height: 38px;
                    cursor: pointer;
                }

                .next {
                    background-image: url(./assets/nextBtn.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 35.5px;
                    height: 34.3px;
                    cursor: pointer;
                }
            }

            .favourite {
                background-image: url(./assets/favBtn.svg);
                background-size: contain;
                height: 24px;
                width: 24px;
                cursor: pointer;
            }
        }
    }
}